
<%

const percentage = new Intl.NumberFormat('en-IN', {
  style:'percent',
  minimumFractionDigits: 2,
})
%>

<style>
  .modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
</style>

<div id = "options" class="modal white">
  <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Select an Option</h5>
  <hr width="85%">
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <div class="container">
    <div class="row center">
      <div class="col s6"><a data-toggle="modal" class="modal-trigger btn green" href="#atopic">Add Topic</a></div>
      <div class="col s6 "><a data-toggle="modal" class="modal-trigger btn blue" href="#dsubject">Delete Subject</a></div>
    </div>
  </div>
</div>
<% subject.forEach(element => { %>
  <head><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script></head>
  <div id = "atopic" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Add Topic</h5>
    <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
    <form action="/subject/<%=element._id%>?_method=PUT" method="POST">
    <div class="row">
      <div class="input-field col s6 offset-s3 center">
      <p>Enter the name of the topic</p>
      <input name = "aname" type="text" placeholder = "Topic Name" class="validate" required="" aria-required="true" value = "">
      <input name = "mlink" type="text" placeholder = "Music Link (Optional)">
      <input name = "action" type="hidden" placeholder = "Password" class="validate" required="" aria-required="true" value = "Add" />
      
  </div>
      </div>
    <div class="input-field col s12 center">
          <input class="btn light-blue darken-4 white-text" value="ADD" type="submit">
        </div>
      </form>
  </div>
  <div id = "dsubject" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Delete Subject</h5>
    <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
    <form action="/subject/<%=element._id%>?_method=PUT" method="POST">
    <div class="row">
      <div class="input-field col s6 offset-s3 center">
      <p>Enter the name of the subject "<strong><%=element.name%></strong>" to delete it</p>
      <input name = "dname" type="text" placeholder = "Subject Name" class="validate" required="" aria-required="true" value = "">
      <input name = "action" type="hidden" placeholder = "Password" class="validate" required="" aria-required="true" value = "Delete" />
  </div>
      </div>
    <div class="input-field col s12 center">
          <input class="btn light-blue darken-4 white-text" value="DELETE" type="submit">
        </div>
      </form>
  </div>
<div class="section white ">
    
        <h2  class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0;">
            <%=element.name%>
        </h2>
        <hr width="70%">
        
                <div class="container">
                  
                    <table class="striped centered responsive-table">

                        <thead>
                          <tr>
                              <th>Topic Count</th>
                              <th>Average Revisions</th>
                              <th>Completed</th>
                          </tr>
                        </thead>
                        <tbody id="myTable">
  
                                  
                          <tr style="font-weight:500;">
                            <%
                            fintage = element.nosion/(element.nopic*5)
                              if(isNaN(fintage)){ 
                                fintage = 0.00
                                  }
                                
                            %>

                            <td><%= (element.nopic)%></td>
                            <td><%= (fintage*5)%></td>
                            <td><%= percentage.format(fintage)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
               
            </div>
           

                
            <hr>
            
            <h4 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0px; margin-bottom:-10px;">Topics</h4>
            
        <hr width="70%">
        <div class="container">
          <table class="highlight centered responsive-table">
        <%if(element.nopic == 0 ){%>
          <h6 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0px; margin-bottom:-10px;">En-list a topic to get started</h6>
          <br>
          <hr width="70%">
          <%}%>
        <%if(element.nopic != 0 ){%>
          <input  id="myInput" type="text" placeholder="&#128269;Type in to Search">
              <thead>
                <tr>
                    <th>Title</th>
                    <th>Music</th>
                    <th>Days</th>
                    <th>Revision 1</th>
                    <th>Revision 2</th>
                    <th>Revision 3</th>
                    <th>Revision 4</th>
                    <th>Revision 5</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <%}%>
              <tbody id = "myTable">
              <% element.topic.filter(topic => topic.isActive == true).forEach(topic => { %>
                <tr style="font-weight:500;">
                  <%
                  if(topic.times == 1)
                  {
                    days = Math.abs(new Date()-topic.rate)
                  }
                  else if(topic.times == 2)
                  {
                    days = Math.abs(new Date()-topic.rbte)
                  }
                  else if(topic.times == 3)
                  {
                    days = Math.abs(new Date()-topic.rcte)
                  }
                  else if(topic.times == 4)
                  {
                    days = Math.abs(new Date()-topic.rdte)
                  }
                  else{
                    days = 0
                  }
                  days = Math.ceil(days / (1000 * 60 * 60 * 24));
                  days -=1
                  if(days < 0){
                    days = 0
                  }
                  %>
                  <%
                      if(days <= 5)
                      {
                        coloring = "green accent-4"
                      }
                      else if((days > 5 && days < 10) && topic.times == 1)
                      {
                        coloring = "light-blue"
                      }
                      else if(days >= 10 && topic.times == 1)
                      {
                        coloring = "red"
                      }
                      else if(topic.times == 2 && days <= 15)
                      {
                        coloring = "green accent-4"
                      }
                      else if(topic.times == 2 && (days > 15 && days < 30))
                      {
                        coloring = "light-blue"
                      }
                      else if(topic.times == 2 && days >= 30)
                      {
                        coloring = "red"
                      }
                      else if(topic.times == 3 && days <= 45)
                      {
                        coloring = "green accent-4"
                      }
                      else if(topic.times == 3 && (days > 45 && days < 90))
                      {
                        coloring = "light-blue"
                      }
                      else if(topic.times == 3 && days >= 90)
                      {
                        coloring = "red"
                      }
                      else if(topic.times == 4 && days <= 90)
                      {
                        coloring = "green accent-4"
                      }
                      else if(topic.times == 4 && (days > 90 && days < 180))
                      {
                        coloring = "light-blue"
                      }
                      else if(days >= 180)
                      {
                        coloring = "red"
                      }
                      else if(topic.times == 5)
                      {
                        coloring = "green accent-4"
                      }
                      
                  %>
                  <%
                    if(topic.music == 'Nothing')
                    {
                      topicMusic = '+ Music'
                      link = "#ml"+topic._id
                      classes = 'modal-trigger black-text'
                      newTab = ""
                      openModal = "modal"
                    }
                    else{
                      topicMusic = '▶ Music'
                      classes = 'black-text'
                      link = topic.music
                      newTab = "target = _blank"
                      openModal = ""
                    }
                  %>
                 
                <td class="<%=coloring%> darken-4 white-text"><%=topic.title%></td>
                <td><a data-toggle=<%=openModal%> class = <%=classes%> <%=newTab%> href = <%=link%>><%=topicMusic%></a></td>
                <td><%=days%></td>
                <td class = "<%=(topic.star == 1?"green-text":(topic.star == 0?"blue-text":"red-text"))%> text-darken-2"><script type="text/javascript">
                var rate = moment(new Date("<%=topic.rate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")
                document.write(rate == "Invalid date"?"":rate)
                  </script></td>
                <td class = "<%=(topic.stbr == 1?"green-text":(topic.stbr == 0?"blue-text":"red-text"))%> text-darken-2"><script type="text/javascript">
                  var rbte = moment(new Date("<%=topic.rbte%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")
                  document.write(rbte == "Invalid date"?"":rbte)
                    </script></td>
                <td class = "<%=(topic.stcr == 1?"green-text":(topic.stcr == 0?"blue-text":"red-text"))%> text-darken-2"><script type="text/javascript">
                  var rcte = moment(new Date("<%=topic.rcte%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")
                  document.write(rcte == "Invalid date"?"":rcte)
                    </script></td>
                <td class = "<%=(topic.stdr == 1?"green-text":(topic.stdr == 0?"blue-text":"red-text"))%> text-darken-2"><script type="text/javascript">
                  var rdte = moment(new Date("<%=topic.rdte%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")
                  document.write(rdte == "Invalid date"?"":rdte)
                    </script></td>
                <td class = "<%=(topic.ster == 1?"green-text":(topic.ster == 0?"blue-text":"red-text"))%> text-darken-2"><script type="text/javascript">
                  var rete = moment(new Date("<%=topic.rete%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")
                  document.write(rete == "Invalid date"?"":rete)
                    </script></td>
                <td class = "<%=(topic.star == 1?"green-text":(topic.star == 0?"yellow-text":"red-text"))%> text-darken-1"><a  class="btn-floating btn-small red modal-trigger" data-toggle="modal" href="#d<%=topic._id%>"><i class="material-icons">delete</i></a>&nbsp;
                  <a  class="btn-floating btn-small blue modal-trigger" data-toggle="modal" href="#u<%=topic._id%>"><i class="material-icons">edit</i></a></td>
              </tr>
              <div id = "ml<%=topic._id%>" class="modal white">
                <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Add Music</h5>
                <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
                    <form action="/subject/<%=element._id%>/<%=topic._id%>?_method=PUT" method="POST">
                      <input name = "action" type="hidden" class="validate" required="" aria-required="true" value = "Music" />
                      <div class="row">
                      <div class="input-field col s6 offset-s3 center">
                        <input name = "mlink" type="text" placeholder = "Music Link" class="validate" required="" aria-required="true" value = "">
                    </div>
                    <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
                      <input class="btn light-blue darken-4 white-text" value="Add" type="submit">
                    </div>
                  </div>
                    </form>
                  
                
              </div>
              <div id = "u<%=topic._id%>" class="modal white">
                <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Update Topic</h5>
                <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
                
                  
                    <form action="/subject/<%=element._id%>/<%=topic._id%>?_method=PUT" method="POST">
                     
                      <input name = "action" type="hidden" class="validate" required="" aria-required="true" value = "Update" />
                      <div class="row">
                      <div class="input-field col s6 offset-s3 center">
                        <h6>How was your study/revision session?</h6>
                        <p>
                          <label>
                            <input class="with-gap" name="rating" type="radio" value = "1"/>
                            <span>Good</span>
                          </label>
                          <label>
                            <input class="with-gap" name="rating" type="radio" value = "0"/>
                            <span>Satisfactory</span>
                          </label>
                          <label>
                            <input class="with-gap" name="rating" type="radio" value = "-1"/>
                            <span>Bad</span>
                          </label>
                        </p>
                    </div>
                    
                    <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
                      <input class="btn light-blue darken-4 white-text" value="UPDATE" type="submit">
                    </div>
                  </div>
                    </form>
                  
                
              </div>
              <div id = "d<%=topic._id%>" class="modal white">
                <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Delete Topic</h5>
                <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
                <form action="/subject/<%=element._id%>/<%=topic._id%>?_method=PUT" method="POST">
                <div class="row">
                  <div class="input-field col s6 offset-s3 center">
                  <p>Enter the name of the topic "<strong><%=topic.title%></strong>" to delete it</p>
                  <input name = "dtitle" type="text" placeholder = "Topic Title" class="validate" required="" aria-required="true" value = "">
                  <input name = "action" type="hidden" placeholder = "Password" class="validate" required="" aria-required="true" value = "Delete" />
              </div>
                  </div>
                <div class="input-field col s12 center">
                      <input class="btn light-blue darken-4 white-text" value="DELETE" type="submit">
                    </div>
                  </form>
              </div>
                <%})%>
              
              </tbody>
            </table>
          </div>
            </div>

  <%})%>